body {
  background: white;
  color: #222;
  font-family: sans-serif;
}

div.period {
  width: 80%;
  margin-left: 10%;
}
 
img.graph {
    width: 100%;
}

div.quants {
    width: 100%;
    justify-content: center; align-items: center;
    display: flex;
}

span.quant {
    margin: 1em;
    color: #666;
    text-align: center;
}

span.quantval {
    white-space:nowrap;
}

span.lastupdate {
    width: 100%;
    color: #aaa;
    text-align: center;
    display: block;
}



